<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Amol Patil | Portfolio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <!-- Theme Toggle -->
  <div class="toggle-container">
    <label class="switch">
      <input type="checkbox" id="theme-toggle">
      <span class="slider"></span>
    </label>
    <span>Dark Mode</span>
  </div>

  <!-- Header -->
  <header>
    <h1><span id="typed-text"></span><span class="cursor">|</span></h1>
    <p>Application Support Engineer | FinTech | FASTag Systems</p>
    <a href="{{ url_for('static', filename='resume.pdf') }}" class="btn-neon" download>Download Resume</a>
  </header>

  <!-- About -->
  <section class="reveal" id="about">
    <h2>About Me</h2>
     <p>
    Application Support Engineer with 1.5 years of hands-on experience in the FinTech domain, 
    specializing in FASTag toll collection under IDBI Bank’s acquiring systems. Skilled in real-time 
    transaction monitoring, troubleshooting, and cross-functional coordination with stakeholders 
    such as NPCI and NHAI. Proficient in SQL, Python, Excel, and Linux for data analysis, reconciliation, 
    and system support.
  </p>
  <p>
    Experienced with GitHub version control, Git CLI, and collaborative workflows. Proficient in 
    deploying web applications using Render and managing environment configurations. Capable 
    of running live development environments with Live Server and VS Code. Comfortable with 
    tools like Flask, openpyxl, pandas, and API integrations to build full-stack dynamic applications.
  </p>
  </section>

  <!-- Projects -->
  <section class="reveal" id="projects">
    <h2>My Projects</h2>
    <div id="project-container" class="project-grid"></div>
  </section>

  <!-- Contact -->
  <section class="reveal" id="contact">
    <h2>Contact</h2>
    <p>Email: patilamolr15@gmail.com</p>
    <p>Phone: 9404805827</p>
  </section>

  <!-- Scroll to top -->
  <button onclick="scrollToTop()" class="scroll-btn">⬆</button>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
